    /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */

    @media (min-width: 1281px) {
    
        .category-title{
            font-size: 24px;
        }
        .category-descripton{
            font-size: 20px;
        }
    
        .feature-text{
            font-size: 20px;
        }
          
        }
        
          /* 
          ##Device = Laptops, Desktops
          ##Screen = B/w 1025px to 1280px
          */
       
        
        @media (min-width: 1025px) and (max-width: 1280px) {
      
    
          
          .category-title{
            font-size: 22px;
        }
        .category-descripton{
            font-size: 18px;
        }
    
        .feature-text{
            font-size: 18px;
        }
          
        }
    
          /* 
          ##Device = Tablets, Ipads (landscape)
          ##Screen = B/w 768px to 1024px
          */
        
        @media (min-width: 767px) and (max-width: 1024px){
      
            .category-title{
                font-size: 22px;
            }
            .category-descripton{
                font-size: 18px;
            }
    
            .feature-text{
                font-size: 18px;
            }
              
        }
        
          /* 
          ##Device = Low Resolution Tablets, Mobiles (Landscape)
          ##Screen = B/w 481px to 767px
          */
        
        @media (min-width: 480px) and (max-width: 767px) {
    
          .category-title{
              font-size: 22px;
          }
          .category-descripton{
              font-size: 18px;
          }
    
          .feature-text{
              font-size: 18px;
          }
          
        }
    
          /* 
          ##Device = Most of the Smartphones Mobiles (Portrait)
          ##Screen = B/w 320px to 479px
          */
        
        @media (min-width: 400px) and (max-width: 479px) {
    
            .category-title{
                font-size: 24px;
            }
    
            .category-descripton{
            font-size: 16px;
          }
           
        }
        
        @media (min-width: 320px) and (max-width: 399px) {
      
          .category-title{
              font-size: 20px;
          }
          .category-descripton{
              font-size: 14px;
          }
          
        }